.border {
  border: 1px red solid;
}


@import "./vendor/semantic.min.css";

.small-padding {

  padding: 0.5rem !important;
}

.game-running-user-name {
  width: 150px !important;
}
.game-running-no {
  width: 100px !important;
}
